@import "variables";



.nav-anchors.active {
  background-color: $main-color;
  color: $text-light;
}

.nav-anchors {
  background-color: $secondary-color;
  color: black;
}

.carousel-control-next {
  right: auto;
}

.carousel-control-prev {
  right: left;
}

.h-250-md {
  height: 200px;
}

@media screen and (min-width: 992px) {
  .h-250-md {
    height: 250px;
  }
}

::ng-deep .skeleton-image-loader .loader {
  height: 200px !important;
  border-radius: 10px;
  margin: 0;

  @media screen and (min-width: 992px) {
    height: 250px !important;
  }
}