@import "variables";

.founding-layout {
  background-color: #bbe2df !important;
  min-height: 100vh;
  overflow-x: hidden;
}
.last-bg {
  background-image: url("/assets/images/national-day/bottom-pattern.png");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.bg-image {
  position: absolute;
  z-index: 0;
  top: -15%;
  left: 25%;
  display: none;
  // transform: ;
  z-index: 0;
  // transform: translateX(100%);
  @media (min-width: 2100px) {
    display: block;
  }
}

.bg-image-right {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 5%;
  display: none;
  // transform: ;
  z-index: 0;
  // transform: translateX(100%);
  @media (min-width: 2100px) {
    display: block;
  }
}
