<section class="overflow-hidden">
  <div class="container py-4">
    <div class="row align-items-center">
      <div class="col-xl-8">
        @if (isNational) {
          <div>
            <h2 class="mb-4 lh-lg fw-semibold">
              اليوم الوطني.. ذكرى توحيد ووطن يتجدد بالعز والفخر!
            </h2>
            <p class="fs-3 mb-4 fw-semibold lh-lg">
              في 23 سبتمبر من كل عام، تحتفل المملكة العربية السعودية باليوم
              الوطني، اليوم الذي يخلد ذكرى توحيد البلاد على يد الملك المؤسس
              عبدالعزيز بن عبدالرحمن آل سعود – طيب الله ثراه – عام 1351هـ /
              1932م، فهو يوم تتجسد فيه معاني الفخر بالوحدة الوطنية والنهضة
              الشاملة التي انطلقت منذ ذلك التاريخ، لتصبح المملكة نموذجًا رائدًا
              في التنمية والاستقرار بين الأمم.
            </p>
            <p class="fs-3 mb-4 fw-semibold lh-lg">
              اليوم الوطني ليس مجرد مناسبة تاريخية تُروى في الكتب، بل هو شعور
              حيّ يتجدد في قلوب السعوديين كل عام وفرصة لاستذكار مسيرة الكفاح
              والبناء والتضحيات التي صنعت هذا الوطن الكبير، وتعزيز قيم الانتماء
              والاعتزاز بالهوية السعودية الراسخة، التي تمنح كل فرد شعورًا
              بالأمان والعزة والكرامة.
            </p>

            <p class="fs-3 mb-4 fw-semibold lh-lg">
              وفي هذا اليوم، تتزين المدن بالأعلام الخضراء وتصدح الأغاني الوطنية
              في كل مكان، ليبقى 23 سبتمبر رمزًا للوحدة والقوة والطموح نحو مستقبل
              أكثر إشراقًا، فهو يوم يجسد التلاحم بين القيادة والشعب، ويؤكد أن
              مسيرة العطاء مستمرة ومتجددة، يحملها جيل بعد جيل بروح ملؤها الإيمان
              والفخر والولاء.
            </p>
          </div>
        } @else {
          <div>
            <h2 class="mb-4 lh-lg fw-semibold">
              يوم التأسيس.. يوم الاحتفاء بالجذور الوطنية والتاريخ العريق!
            </h2>
            <p class="fs-3 mb-4 fw-semibold lh-lg">
              في 22 فبراير، تحتفل مملكتنا بـيوم التأسيس، الذي يخلد ذكرى تأسيس
              الدولة السعودية الأولى عام 1139ه/ 1727م على يد الإمام محمد بن
              سعود، ويُجسد هذا اليوم الفخر بالتراث الغني للمملكة واستقرارها.
            </p>
            <p class="fs-3 mb-4 fw-semibold lh-lg">
              الدولة السعودية الأولى كانت عاصمتها الدرعية، واستمرت حتى عام
              1233هـ /1818م، وشهدت تنظيم الموارد الاقتصادية، والتفكير في
              المستقبل، حيث كان الإمام محمد بن سعود يحب الخلوة والتأمل والتفكر،
              كما تم في هذا العهد بناء حي جديد في سمحان وهو حي الطرفية والانتقال
              إليه بعد أن كان حي غصيبة هو مركز الحكم لفترة طويلة.
            </p>
          </div>
        }
      </div>
      <div class="col-xl-4">
        @if (isNational) {
          <div class="h-600 position-relative">
            <img
              src="./assets/images/national-day/home-second-banner.webp"
              alt="يوم الوطن"
            />
          </div>
        } @else {
          <div class="h-600 left-side position-relative">
            <!-- <img
            src="./assets/images/founding-day/first_day.webp"
            alt="يوم التأسيس"
          />
          <p class="mt-5">
            <span class="d-block my-3 fs-4 fw-semibold text-black"
              >ثلاثة قرون</span
            >
            <span class="d-block my-3 fs-4 fw-semibold text-black"
              >من العز</span
            >
            <span class="d-block my-3 fs-4 fw-semibold text-black">والفخر</span>
          </p>
          <img
            class="main-image z-1"
            src="./assets/images/founding-day/about01.webp"
            alt="يوم التأسيس"
          />
          <img
            class="bg-image"
            src="./assets/images/founding-day/bg-op5.webp"
            alt="يوم التأسيس"
          />
          <img
            class="main-image02 z-1"
            src="./assets/images/founding-day/about02.gif"
            alt="يوم التأسيس"
          /> -->
            <img
              src="./assets/images/founding-day/founding-aside.webp"
              alt="من اصل الكلمه الي الامانه"
              class="w-100 h-100 object-fit-cover"
              loading="lazy"
              decoding="async"
            />
          </div>
        }
      </div>
    </div>
  </div>
</section>
