@import "variables";
.date_color {
  color: #afaeae;
}
.desc_color {
  color: #646363;
}

.nav-anchors.active {
  background-color: $main-color;
  color: $text-light;
}
.nav-anchors {
  background-color: $secondary-color;
  color: black;
}

.carousel-control-next {
  right: auto;
}
.carousel-control-prev {
  right: left;
}

::ng-deep .text-lighter p,
::ng-deep .text-lighter *,
::ng-deep .text-lighter b {
  font-weight: 400 !important;
  margin-bottom: 0px !important;
}

::ng-deep .ngx-pagination a {
  border-radius: 50% !important;
  background-color: white !important;
  color: black;
  margin-inline: 5px;
}
::ng-deep .ngx-pagination .current {
  border-radius: 50%;
}
::ng-deep .ngx-pagination a:hover:not(:first-child, :last-child) {
  border-radius: 50%;
}
::ng-deep .ngx-pagination li:last-child:hover a {
  border-radius: 100vh !important;
}
::ng-deep .ngx-pagination li:first-child:hover a {
  border-radius: 100vh !important;
}

::ng-deep .ngx-pagination .disabled {
  border-radius: 50% !important;
  margin-inline: 5px;
}

.notNational ::ng-deep .ngx-pagination .current {
  background-color: $found-color-secondary !important;
}
.notNational ::ng-deep .ngx-pagination a:hover:not(:first-child, :last-child) {
  background-color: $found-color-secondary !important;
  color: white !important;
}
.notNational ::ng-deep .ngx-pagination li:last-child:hover a {
  background-color: white !important;
  color: black;
}
.notNational ::ng-deep .ngx-pagination li:first-child:hover a {
  background-color: white !important;
  color: black;
}

/* isNational */
.isNational ::ng-deep .ngx-pagination .current {
  background-color: #012326 !important;
  color: #94cec9;
}
.isNational ::ng-deep .ngx-pagination a:hover:not(:first-child, :last-child) {
  background-color: black !important;
  color: white !important;
}
.isNational ::ng-deep .ngx-pagination li:last-child:hover a {
  background-color: #012326 !important;
  color: #94cec9;
}
.isNational ::ng-deep .ngx-pagination li:first-child:hover a {
  background-color: #012326 !important;
  color: #94cec9;
}

::ng-deep .ngx-pagination li:last-child a,
::ng-deep .ngx-pagination li:first-child a,
::ng-deep .ngx-pagination .disabled,
::ng-deep .ngx-pagination .pagination-next a {
  border-radius: 100vh !important;
}
