@if(currentYoutubeVideos) {
<section id="Home__Local__News" class="py-4">
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title fs-30">الفيديوهات</h2>
      <a (click)="onClickOpenYouTube()" class="cr btn btn-show-all" href="#">عرض الكل</a>
    </header>
    @if (isDesktop()) {
    <div class="row">
      <div class="col-12 col-md-9">
        <div (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[0].snippet.resourceId.videoId
            )
          " class="h-100 cr position-relative" height="545px" [innerHTML]="videoIframe | safeHtml"></div>
      </div>

      <div class="col-12 col-md-3 d-flex justify-content-between flex-column">
        <div (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[1].snippet.resourceId.videoId
            )
          " class="Logo_youtube_Mark cr mb-2">
          <figure style="height: 150px !important" class="Logo_Water_Mark small overflow-hidden mb-0">
            <img class="youTube_Image w-100 object-fit-cover border-radius-10" [src]="
                currentYoutubeVideos.items[1].snippet.thumbnails.standard.url
              " alt="card.author" loading="lazy" decoding="async" />
          </figure>
          <!-- <div>
              <h3 class="fs-13 fw-bold mb-1 title_section">
                {{ currentYoutubeVideos.items[1].snippet.title }}
              </h3>
            </div> -->
        </div>
        <div (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[2].snippet.resourceId.videoId
            )
          " class="Logo_youtube_Mark cr mb-2">
          <figure style="height: 150px !important" class="Logo_Water_Mark small overflow-hidden mb-0">
            <img class="youTube_Image w-100 object-fit-cover border-radius-10" [src]="
                currentYoutubeVideos.items[2].snippet.thumbnails.standard.url
              " alt="card.author" loading="lazy" decoding="async" />
          </figure>
          <!-- <div>
              <h3 class="fs-13 fw-bold mb-1 title_section">
                {{ currentYoutubeVideos.items[2].snippet.title }}
              </h3>
            </div> -->
        </div>
        <div (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[3].snippet.resourceId.videoId
            )
          " class="Logo_youtube_Mark cr mb-2">
          <figure style="height: 150px !important" class="Logo_Water_Mark small overflow-hidden mb-0">
            <img class="youTube_Image w-100 object-fit-cover border-radius-10" [src]="
                currentYoutubeVideos.items[3].snippet.thumbnails.standard.url
              " alt="card.author" loading="lazy" decoding="async" />
          </figure>
          <!-- <div>
              <h3 class="fs-13 fw-bold mb-1 title_section">
                {{ currentYoutubeVideos.items[3].snippet.title }}
              </h3>
            </div> -->
        </div>
      </div>
    </div>
    } @else {
    <div class="row">
      <div class="col-12 col-md-9">
        <div (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[0].snippet.resourceId.videoId
            )
          " class="h-100 cr position-relative" height="400px" [innerHTML]="videoIframe | safeHtml"></div>
      </div>

      @for (item of currentYoutubeVideos.items|slice:1:5; track $index) {
      <div class="col-6 d-flex justify-content-between flex-column">
        <div (click)="onClickOpenYouTubeVideo(item.snippet.resourceId.videoId)" class="Logo_youtube_Mark cr mb-2">
          <figure style="height: 150px !important" class="Logo_Water_Mark small overflow-hidden mb-0">
            <img class="youTube_Image w-100 object-fit-cover border-radius-10"
              [src]="item.snippet.thumbnails.standard.url" alt="card.author" loading="lazy" decoding="async" />
          </figure>
          <!-- <div>
                <h3 class="fs-13 fw-bold mb-1 title_section">
                  {{ item.snippet.title }}
                </h3>
              </div> -->
        </div>
      </div>
      }
    </div>
    }
  </div>
</section>

}