<h1 class="d-none">
  صحيفة أصداء الخليج | صحيفة سعودية مرخصة | رئيس التحرير سلمان بن أحمد العيد
</h1>

<header>
  <img src="/assets/images/pages/home/1.png" decoding="async" alt="" role="presentation" class="header-bg">
  <app-blank-navbar />
  <div class="large">
    <app-hero />
  </div>
</header>
@if (!isDesktop()) {
<app-home-local-news [isDesktop]="isDesktop()" />
<app-home-news [isDesktop]="isDesktop()" />
}

@defer (on viewport) {
<app-home-banner />
} @placeholder {
<div style="min-height: 126px"></div>
}
<div class="main-bg pb-5">

  @defer (on viewport) {
  <img src="/assets/images/pages/home/2.png" loading="lazy" decoding="async" alt="" role="presentation"
    class="main-bg-img">
  <app-home-advertising-area />
  } @placeholder {
  <div style="min-height: 100px"></div>
  }
  @defer (on viewport) {
  @if (isDesktop()) {
  <app-home-news [isDesktop]="isDesktop()" />
  } @if (!isDesktop()) {
  <div class="p-3">
    <app-home-master></app-home-master>
  </div>
  }
  } @placeholder {
  <div style="min-height: 300px"></div>
  }
</div>

@defer (on viewport) {
@if (isDesktop()) {
<app-home-local-news [isDesktop]="isDesktop()" />
}
} @placeholder {
<div style="min-height: 200px"></div>
}

@defer (on viewport) {
<app-national-news [isDesktop]="isDesktop()" />
} @placeholder {
<div style="min-height: 200px"></div>
}

@defer (on viewport) {
@if (isDesktop()) {
<app-home-articles />
}
} @placeholder {
<div style="min-height: 200px"></div>
}

<!-- Custom Category -->
@defer (on viewport) {
<section class="mt-4">
  <div class="container">
    <div class="row g-3 flex-column flex-xl-row-reverse">
      <div class="col-12">
        <div rol="button"
          class="position-relative bg-main d-flex flex-wrap flex-column-reverse md-flex-row md-flex-nowrap w-100 md-h-392px md-flex-row rounded shadow-md md-justify-end">
          <div
            class="d-flex flex-column justify-content-between p-4 w-100 md-w-60 position-relative md-absolute top-0 start-0 end-0 bottom-0">
            <div class="text-white titles text-end flex-1">
              <h2 class="mb-2">الزاوية الإسبوعية خود</h2>
              <h3 class="mb-2">للكاتبة</h3>
              <h4 class="mb-2">منال الحصيني</h4>
            </div>

            <a class="text-decoration-none" [routerLink]="['/archives/blogs', 'writer-manal-corner']" href="#"
              class="btn bg-white text-primary px-3 text-center text-black my-2 mt-3">
              <span class="fw-semibold" style="font-size: 16px">
                تصفح الان
              </span>
            </a>

            <a class="text-decoration-none" href="https://x.com/manalalhusayni"
              class="btn alt-color px-3 text-center my-2 text-black d-flex align-items-center gap-2 justify-content-center"
              target="_blank">
              <img loading="lazy" decoding="async" src="./assets/images/social_meida_icons/x-twitter-brands-solid.svg"
                alt="اصداء الخليج اكس" width="16" height="16">

              <span class="fw-semibold" style="font-size: 16px">
                حساب الكاتبة على إكس
              </span>
            </a>
          </div>

          <div class="md-w-40 d-flex justify-content-center align-items-center md-items-center">
            <figure class="w-75 m-0 mx-auto logo-image pt-2 md-pt-0">
              <img src="./assets/images/pages/home/news/LogoAsdaa-min.png" class="img-fluid w-75" alt="Offer Image"
                loading="lazy" decoding="async" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
} @placeholder {
<div style="min-height: 200px"></div>
}

<div class="third-bg">

  @defer (on viewport) {
  <img src="/assets/images/pages/home/4.png" loading="lazy" decoding="async" alt="" role="presentation"
    class="third-bg-img">
  <app-home-investigations [isDesktop]="isDesktop()" />
  } @placeholder {
  <div style="min-height: 200px"></div>
  }
  @defer (on viewport) {
  @if (!isDesktop()) {
  <app-home-articles />
  }
  } @placeholder {
  <div style="min-height: 200px"></div>
  }
  @defer (on viewport) {
  <app-home-videos [isDesktop]="isDesktop()" />
  } @placeholder {
  <div style="min-height: 200px"></div>
  }
</div>