header {
  position: relative;
}

header .header-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
  opacity: 40%;
  width: 200px;
}

@media screen and (min-width:1024px) {
  header .header-bg {
    width: 400px;
  }
}

.main-bg {
  position: relative;
  overflow: hidden;
}

.main-bg .main-bg-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
  width: 50%;
  opacity: 20%;
}

.third-bg {
  position: relative;
}

.third-bg .third-bg-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80%;
  inset-inline: 0;
  margin: auto;
  object-fit: cover;
  z-index: -1;
  opacity: 30%;
  max-height: 100%;
}


.third-bg {
  position: relative;
}

.third-bg .third-bg-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
  opacity: 20%;
}

@media (min-width: 768px) {
  .md-h-392px {
    height: 392px;
  }

  .md-flex-row {
    flex-direction: row !important;
  }

  .md-justify-end {
    justify-content: flex-end !important;
  }

  .md-w-40 {
    width: 45% !important;
  }

  .md-w-60 {
    width: 55% !important;
  }

  .md-absolute {
    position: absolute !important;
  }
}

.titles {
  @media (max-width: 350px) {

    h2,
    h3,
    h4 {
      font-size: 14px !important;
      font-weight: 500;
    }
  }

  @media (min-width: 351px) and (max-width: 1400px) {

    h2,
    h3,
    h4 {
      font-size: 28px !important;
      font-weight: 700;
    }
  }

  @media (min-width: 1401px) {

    h2,
    h3,
    h4 {
      font-size: 25px !important;
      font-weight: 700;
    }
  }
}

@media (max-width: 991px) {
  .logo-image {
    width: 50% !important;
  }
}

.alt-color {
  background-color: #cfcece;
}