@if (localNews() && localNews()?.blogs) {
<section [ngClass]="{ 'd-none': isShowSkeleton() }" id="Home__Local__News" class="bg-third py-4">
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title fs-30">{{ sectionTitle() }}</h2>
    </header>
    <div class="row py-2 flex-row-reverse">
      <div class="col-12 col-md-5 ms-auto">
        <div class="bg-white border-radius-10 d-flex justify-content-evenly">
          <button (click)="getLocalNews(); toggleButtonsHandler(localBtn)" #toggleButtons #localBtn
            class="w-100 border-radius-10 py-1 btn-main">
            الأخبار المحلية
          </button>
          <button #toggleButtons #randomBtn (click)="getRandomNews(); toggleButtonsHandler(randomBtn)"
            class="w-100 border-radius-10 py-1 bg-white">
            أخبار متنوعة
          </button>
        </div>
      </div>
      <div class="col-7"></div>
      <div class="col-12 col-lg-5">
        <div>
          <div class="row g-3 g-lg-2">
            @for (news of ((localNews() && localNews()?.blogs && localNews()?.blogs?.data) || []) |
            slice:0:isDesktop()?4:10; track news.post_id) {
            <div class="col-3">
              <a [routerLink]="[news.old_status?'/archives':'/article', news.post_id]" href="#">
                <div>
                  <figure class="Logo_Water_Mark small cr">
                    <img height="100" class="w-100 object-fit-cover border-radius-10" [src]="
                        news.post_image || './assets/images/not_found_image.jpg'
                          | imagesSrc
                      " [alt]="news.post_title" loading="lazy" decoding="async" />
                  </figure>
                </div>
              </a>
            </div>
            <div class="col-9">
              <p class="date_color fw-bold fs-13">
                <img class="ms-1 align-middle" role="presentation" loading="lazy" decoding="async"
                  src="./assets/images/pages/home/loca_news/clock-rotate-left-solid.png" />
                <span class="align-middle text-main">{{
                  news.post_date | hijriDate
                  }}</span>
              </p>
              <div>
                <p class="mb-0 fs-13 desc_color title_section_slider_home_Titles fw-bold cr">
                  {{ news.post_title }}
                </p>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 d-none d-md-block">
        <a [routerLink]="[localNews()?.blogs?.data?.[0]?.old_status  ? '/archives':'/article', localNews()?.blogs?.data?.[0]?.post_id]"
          href="#">
          <div>
            <figure class="Logo_Water_Mark cr">
              <img height="450" loading="lazy" decoding="async" class="w-100 object-fit-cover border-radius-10" [src]="
                  localNews()?.blogs?.data?.[0]?.post_image ||
                    './assets/images/not_found_image.jpg' | imagesSrc
                " alt="card.author" />
            </figure>
            <p class="m-0 date_color fw-bold fs-13 d-flex justify-content-end align-items-center">
              <img class="ms-1 align-middle" loading="lazy" decoding="async"
                src="./assets/images/pages/home/loca_news/clock-rotate-left-solid.png" role="presentation" />
              <span class="align-middle text-main">{{
                localNews()?.blogs?.data?.[0]?.post_date | hijriDate
                }}</span>
            </p>
            <h3 class="fw-bold m-0 text-end title_section_slider_home_Titles cr p-0">
              {{ localNews()?.blogs?.data?.[0]?.post_title }}
            </h3>

          </div>
        </a>
      </div>
    </div>
  </div>
</section>
}