@if (investigations && investigations.blogs && investigations.blogs.data) {
<section id="Home__Investigations__News" class="py-4">
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title fs-30">التحقيقات</h2>
      <a
        [routerLink]="['/archives/blogs', 'i']"
        href="#"
        class="btn btn-show-all"
        >عرض الكل</a
      >
    </header>
    @if (isDesktop()) {
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="pt-2">
          <a
            [routerLink]="[investigations.blogs.data[0].old_status?'/archives':'/article', investigations.blogs.data[0].post_id]"
            href="#"
          >
            <figure class="Logo_Water_Mark small cr">
              <img
                class="w-100 object-fit-cover border-radius-10 h-300"
                [src]="investigations.blogs.data[0].post_image"
                [alt]="investigations.blogs.data[0].post_title"
              />
            </figure>
            <div>
              <h3
                class="fs-13 text-main fw-bold mb-2 cr title_section_slider_article"
              >
                {{ investigations.blogs.data[0].post_title }}
              </h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div>
                <a
                  [routerLink]="[
                    investigations.blogs.data[1].old_status?'/archives':'/article',
                    investigations.blogs.data[1].post_id
                  ]"
                  href="#"
                >
                  <figure class="Logo_Water_Mark small cr">
                    <img
                      class="w-100 object-fit-cover border-radius-10 h-md-120"
                      [src]="investigations.blogs.data[1].post_image"
                      [alt]="investigations.blogs.data[1].post_title"
                    />
                  </figure>
                  <div>
                    <h3
                      class="fs-13 text-main fw-bold mb-2 cr title_section_slider_article"
                    >
                      {{ investigations.blogs.data[1].post_title }}
                    </h3>
                    <!-- <p
                      class="fs-13 text-lighter fw-semibold title_section_slider_article"
                      [innerHTML]="
                        investigations.blogs.data[1].post_content
                          | stringSlice
                          | safeHtml
                      "
                    ></p> -->
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <a
                [routerLink]="[
                  investigations.blogs.data[2].old_status?'/archives':'/article',
                  investigations.blogs.data[2].post_id
                ]"
                href="#"
              >
                <div>
                  <figure class="Logo_Water_Mark small cr">
                    <img
                      class="w-100 object-fit-cover border-radius-10 h-md-120"
                      [src]="investigations.blogs.data[2].post_image"
                      [alt]="investigations.blogs.data[2].post_title"
                    />
                  </figure>
                  <div>
                    <h3
                      class="fs-13 text-main fw-bold mb-2 cr title_section_slider_article"
                    >
                      {{ investigations.blogs.data[2].post_title }}
                    </h3>
                    <!-- <p
                      class="fs-13 text-lighter fw-semibold title_section_slider_article"
                      [innerHTML]="
                        investigations.blogs.data[2].post_content
                          | stringSlice
                          | safeHtml
                      "
                    ></p> -->
                  </div>
                </div>
              </a>
            </div>
            <div class="col-12">
              <a
                [routerLink]="[
                  investigations.blogs.data[3].old_status?'/archives':'/article',
                  investigations.blogs.data[3].post_id
                ]"
                href="#"
              >
                <div>
                  <figure class="Logo_Water_Mark small cr">
                    <img
                      class="w-100 object-fit-cover border-radius-10 h-md-120"
                      [src]="investigations.blogs.data[3].post_image"
                      [alt]="investigations.blogs.data[3].post_title"
                    />
                  </figure>
                  <div>
                    <h3
                      class="fs-13 text-main fw-bold mb-2 cr title_section_slider_article"
                    >
                      {{ investigations.blogs.data[3].post_title }}
                    </h3>
                    <!-- <p
                      class="fs-13 text-lighter fw-semibold title_section_slider_article"
                      [innerHTML]="
                        investigations.blogs.data[3].post_content
                          | stringSlice
                          | safeHtml
                      "
                    ></p> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    } @else {
    <div class="row">
      @for (item of investigations.blogs.data|slice:0:8; track $index) {
      <div class="col-6">
        <div class="pt-2">
          <a [routerLink]="[item.old_status?'/archives':'/article', item.post_id]" href="#">
            <figure class="Logo_Water_Mark small cr">
              <img
                class="w-100 object-fit-cover border-radius-10 h-250"
                [src]="item.post_image"
                [alt]="item.post_title"
              />
            </figure>
            <div>
              <h3
                class="fs-13 text-main fw-bold mb-2 cr title_section_slider_article"
              >
                {{ item.post_title }}
              </h3>
            </div>
          </a>
        </div>
      </div>
      }
    </div>
    }
  </div>
</section>
} @else {
<section id="Home__Investigations__News" class="py-4">
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title fs-30">التحقيقات</h2>
      <a
        [routerLink]="['/archives/blogs', 'i']"
        href="#"
        class="btn btn-show-all"
        >عرض الكل</a
      >
    </header>
    @if (isDesktop()) {
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="pt-2">
          <figure class="Logo_Water_Mark small cr">
            <ngx-skeleton-loader
              [theme]="{
                width: '100%',
                height: '300px',
                background: 'lightgray'
              }"
            />
          </figure>
          <div>
            <h3 class="fs-13 text-main fw-bold mb-2">
              <ngx-skeleton-loader
                [theme]="{
                  width: '100%',
                  height: '20px',
                  background: 'lightgray'
                }"
              />
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div>
                <figure class="Logo_Water_Mark small cr">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '120px',
                      background: 'lightgray'
                    }"
                  />
                </figure>
                <div>
                  <h3 class="fs-13 text-main fw-bold mb-2">
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '100%',
                        height: '20px',
                        background: 'lightgray'
                      }"
                    />
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div>
                <figure class="Logo_Water_Mark small cr">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '120px',
                      background: 'lightgray'
                    }"
                  />
                </figure>
                <div>
                  <h3 class="fs-13 text-main fw-bold mb-2">
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '100%',
                        height: '20px',
                        background: 'lightgray'
                      }"
                    />
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div>
                <figure class="Logo_Water_Mark small cr">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '120px',
                      background: 'lightgray'
                    }"
                  />
                </figure>
                <div>
                  <h3 class="fs-13 text-main fw-bold mb-2">
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '100%',
                        height: '20px',
                        background: 'lightgray'
                      }"
                    />
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    } @else {
    <div class="row">
      @for (item of skeleton; track $index) {
      <div class="col-6">
        <div class="pt-2">
          <figure class="Logo_Water_Mark small cr">
            <ngx-skeleton-loader
              [theme]="{
                width: '100%',
                height: '250px',
                background: 'lightgray'
              }"
            />
          </figure>
          <div>
            <h3 class="fs-13 text-main fw-bold mb-2">
              <ngx-skeleton-loader
                [theme]="{
                  width: '100%',
                  height: '20px',
                  background: 'lightgray'
                }"
              />
            </h3>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</section>
}
