@import "variables";
.founding-day-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  z-index: 123;
  height: 100px;
  border-radius: 50%;
  background-color: #DBC1A6;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: color-burn;
  }
}
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  -webkit-animation: shadowPulse 2s linear infinite;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 $main-color, 24px 0 #fff;
  }
  66% {
    background: $main-color;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 $main-color;
  }
}
@media (prefers-reduced-motion: reduce) {
  .loader {
    animation: none; /* Disable the animation for users with reduced motion preference */
  }
}
