/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap";
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owl-theme;
@import "assets/styles/fonts.css";
@import "typography";
@import "base";
@import "variables";
@import "utilities";
@import "buttons";

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";



@import "../node_modules/intl-tel-input/build/css/intlTelInput.css";

.flex-1 {
    flex: 1 1 0% !important;
}

.content-section-visibility {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
}